body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;

	background: #f2f2f2;
}

/*----- head -----*/

a {
	text-decoration: none;
}

h3,h2 {
	padding: 0;
	margin: 0;
}

}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000;
	background-color: #fff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation a {
	color: #000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #cacaca;
}

/*----- body -----*/

.background-logo {
	text-align: center;
	height: 508px;
}

.advantages {
	text-align: center;
}

.sedona-advantages {
	background-color: #fff;
}

.sedona-advantages span {
	font-size: 14px;
	line-height: 26px;
	color: #7d7d7d;
	font-weight: 400;
}

.advantages p {
	font-weight: 400;
}

.advantages p b {
	font-size: 21px;
	line-height: 26px;
}

.item-white-words{
	color: #fff;
	background-color: #81b3d2;
}

.advantages ul {
	list-style: none;
}

.advantages-item h3{
	text-align: center;
	font-size: 21px;
	line-height: 26px;
}

.advantages-item ul>li {
	color: 333;
	background-color: #fff;
}

.advantages-list li {
	background-color: #eee;
}

.interesting {
	text-align: center;
	background-color: #fff;
}

.interesting p {
	font-weight: 400;
}

.interesting h2{
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	padding-top: 55px;	
}

.interesting-info {
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

.buttom-hotels{
	font-size: 21px;
	line-height: 26px;
}

.button-search-hotels {
	font: inherit;
	background-color: #766357;
	text-transform: uppercase;
	color: #fff;
	border: none;	
	width: 568px;
	height: 86px;
}

.button-search-hotels:hover {
	background-color: #604e43;
	outline: none;
}

.button-search-hotels:focus,
.button-search-hotels:active {
	background-color: #503e33;
	color: #928a85;
	outline: none;
}

.search-hotels-form {
	font-size: 14px;
	line-height: 26px;
}

.buttom-search-main {
	font-size: 21px;
	line-height: 26px;
}

.button-search {
	font: inherit;
	background-color: #81b3d2;
	text-transform: uppercase;
	color: #fff;
	border: none;	
	width: 458px;
	height: 58px;
}

.button-search:hover {
	background-color: #669ec0;
	outline: none;
}

.button-search:focus,
.button-search:active {
	background-color: #5496bd;
	color: #94b9d2;
	outline: none;
}

.number-adults,
.number-children,
.search-input {
	background-color: #f2f2f2;
	outline: none;
}

.search-input:hover {
	background-color: #ebebeb;
	outline: none;
}

.search-input:focus {
	background-color: #fff;
	outline: none;
}

/*----- body hotels -----*/

.hotels-form{
	background-image: url('../img/img-filters.jpg');
	background-repeat: no-repeat;
}

.cost-legend,
.filters-name {
	font-weight: 700px;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}


.type-name {
	font: initial;
	font-weight: 400px;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
}

.type-filters ul,
.infrastructure-filters ul {
	list-style: none;
}

.cost-range {
	font: initial;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
}

.hotels-filter,
.hotels-found {
	background-color: #fff;
	border: 0px;
}

.buttom-show-main {
	font-size: 21px;
	line-height: 26px;
}

.button-show {
	font: inherit;
	background: transparent;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #fff;	
	width: 133px;
	height: 32px;
}

.button-show:hover {
	background-color: #fff;
	color: #000;
	outline: none;
}


.button-rating,
.button-type,
.button-price {
	background-color: #fff;
	border: none;
	font: initial;
	font-size: 14px;
	line-height: 21px;
	color: #cacaca;
	border-bottom: 1px dashed #95bed8;
	outline: none;
}

.button-rating:hover,
.button-type:hover,
.button-price:hover {
	color: #95bed8;
	border-bottom: 1px dashed #95bed8;
	outline: none;
}

.button-rating:focus,
.button-type:focus,
.button-price:focus {
	color: #95bed8;
	outline: none;
	border: none;
}

.button-rating:active,
.button-type:active,
.button-price:active {
	color: black;
	outline: none;
	border: none;
}

.hotels-found h3 {
	font-weight: 700px;
	font-size: 21px;
	line-height: 26px;
}

.hotels-found h4 {
	font-weight: 400px;
	font-size: 12px;
	line-height: 18px;
}

.hotels-found ul li {
	list-style: none;
	display: inline;
}

.hotels-title a {
	font-weight: 700px;
	font-size: 21px;
	line-height: 26px;
	color: black;
}

.hotels-title a:hover {
	color: #81b3d2;
}

.hotels-title a:focus {
	color: #cecece;
}

.hotels-catalog-list li{
	list-style: none;
	display: inline-block;
	width: 1000px;
}

.description-price,
.description-type {
	font: initial;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotels-rating {
	background-color: #f2f2f2;
	font: initial;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
}

.button-detail,
.button-book {
	font-weight: 700px;
	font-size: 14px;
	line-height: 21px;
	padding: 5px 5px;
}

.hotels-item-button {
	width: 270px;
	height: 30px;
}

.button-detail {
	font: inherit;
	background-color: #81b3d2;
	text-transform: uppercase;
	color: #fff;
	border: none;	
	width: 110px;
	height: 27px;
}

.button-detail:hover {
	background-color: #669ec0;
	outline: none;
}

.button-detail:focus,
.button-detail:active {
	background-color: #5496bd;
	color: #94b9d2;
	outline: none;
}

.button-book {
	font: inherit;
	background-color: #766357;
	text-transform: uppercase;
	color: #fff;
	border: none;	
	width: 142px;
	height: 27px;
}

.button-book:hover {
	background-color: #604e43;
	outline: none;
}

.button-book:focus,
.button-book:active {
	background-color: #503e33;
	color: #928a85;
	outline: none;
}

/*----- footer -----*/

.main-footer {
	background-color: #fff;
}

.main-footer a {
	color: #000;
	font-size: 21px;
	line-height: 26px;

}

.footer-visitsedona {
	float: left;
}

.footer-social {
	float: left; 
 	width: 250px; 
}

.footer-social ul {
	list-style: none;}

ul.social li {
	display: inline-block;
	background-color: #81b3d2;
	margin-right: 10px;
	margin-left: 0px;	
}

.social li {
	position: relative;
	width: 46px;
	height: 48px;
}

.social-button img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.social-button:hover{
	background-color: #669ec0;
}

.social-button #yt:focus{
	fill: #669ec0;
}



.footer-htmlacademy {
	
}



/*----- Сеточные стили ------*/

body,
html {
	min-width: 1200px;
	max-width: 1200px;
	min-height: 2762px;
	margin: 0 auto;
	box-shadow: 0 1px 30px 5px #dbdbdb;
}

 div {
	padding: 0; 
	margin: 0;
}

.main-header {
	position: relative;
	background-color: white;
}

.main-navigation {
	background-color: #fff;
	margin: 0 auto;
	width: 1056px;
	 
}

ul.site-navigation {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	/*justify-content: flex-start;*/
	align-items: center;
	flex-wrap: wrap;
	
}

.site-navigation li {
	display: flex;
	padding: 15px 0px;
}

.site-fv a {
	margin-left: 145px;
}

.site-map a {
	margin-left: 387px;
}

.site-htl a {
	margin-left: 160px;
}

.main-header-logo  {
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 0;
	display: block;
	width: 138px;
}

.sedona-advantages {
	margin-top: 0px;
	padding-bottom: 55px;
}

.sedona-advantages p{
	width: 445px;
	height: 55px;
	margin: 0 auto;
	padding-top: 62px;
	padding-bottom: 33px;
}

.sedona-advantages-reason {
	height: 20px;
	padding-bottom: 57px;
}

.advantages-list {
	width: 1200px;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	background-color: red;
}

.advantages-item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 256px;
}

.town-img img {
	width: 800px;
	height: auto;
}

.bridge-img img {
	width: 800px;
	height: auto;
}

.advantages-item .item-white-words {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 400px;
	min-height: 256px;
}

.advantages-item .item-white-words h3{
	
}

.advantages-item .item-white-words span {
	
}

.advantages-item .town-img {
	width: 800px;
	height: 256px;
}

.advantages-item .bridge-img {
	width: 800px;
	height: 256px;
}

.feauters-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 400px;
}

li.feauters-item {
	background-color: white;
	height: 330px;
}

.advantages-list ul {
	padding-left: 0px;
	display: flex;
}

.advantages-feauters-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 400px;
	height: 256px;
}


.advantages-item ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 1200px;
}

.advantages-item ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	height: 256px;
	flex-wrap: wrap;
	margin: 0 auto;
	flex-basis: 400px;
} 

.advantages-item ul li img {
	
	width: 100%;
	height: 73px;
}

.advantages-item ul li h3 {
	height: 25px;
	width: 100%;
	
}
 
.advantages-item ul li p {
	width: 300px;
	/*margin: 0px 50px 85px 50px;*/
}

.feauters-item {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.feauters-item p {
	width: 270px;
}

.item-white-words h3 {

	width: 100%;
}

.item-white-words span {
	width: 100%;

}

.item-white-words p {
	width: 290px;
}

.advantages-feauters-item h3 {
	margin: 0  auto;
	width: 123px;
}

.advantages-feauters-item span {
	width: 100%;
}

.advantages-feauters-item p {
	width: 270px;
	margin: 0 auto;
}
